
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');
/* Source of Google fonts: https://fonts.googleapis.com */
/* font-family: 'Bungee Shade', sans-serif;
font-family: 'Noto Sans', sans-serif; */

* {
  font-family: 'Noto Sans', sans-serif; 
}

:root {
  --main-color: #43C079;
  --2b-color: #2b2b2b;
  --95-color: #959595;
  --ccc-color: #ccc;
}

.btn{
  background: var(--2b-color);
  color: #fff;
  padding: 0.875rem 1.125rem;
  font-size: 1.125rem;
  font-weight: 700;
}

/* header */
header .navBar {
  height: 60px;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccc;
  font-size: 1.25rem;
}
header .navBar #logo {
  font-family: 'Bungee Shade';
}
header .navBar nav ul {
  display: flex;
}
header .navBar nav ul li + li {
  margin-left: 20px;
}
header .navBar nav ul li a:hover{
  color: var(--main-color);
}

/*  Image Source: website URL https://extension.usu.edu/news/nine-time-saving-cooking-tips  */
.visual{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/bg.png')no-repeat 50% 50% / cover;
  position: relative;
}

.visual .visualBg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.visual .visualText{
  font-size: 2.5rem;
  font-family: 'Bungee Shade';
  color: var(--main-color);
  max-width: 350px;
  line-height: 120%;
  position: relative;
}

/* Main */
#main{
  max-width: 1200px;
  min-height: 400px;
  margin: 0 auto;
  padding: 150px 0;
  text-align: center;
}
#main section + section{
  margin-top: 150px;
}
#main section h2{
  font-size: 2rem;
}
#main section ul{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: left;
}
#main section ul li{
  width: calc((100% - 60px) / 4);
}
#main section ul li a{
  display: block;
  overflow: hidden;
}
#main section ul li a .listImg{
  display: block;
  height: 350px;
  background: url("../images/sample.png")no-repeat 50% 0 / cover;
  transition: transform .5s ease;
}

#main section ul li .listTitle{
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 6px;
}

#main section ul li .listText{
  margin-top: 6px;
  font-size: .875rem;
  color: var(--95-color);
}

#main section .moreList{
  display: inline-block;
  margin-top: 40px;
}


/* footer */
footer{
  min-height: 120px;
  background: #888;
}
footer p{
  padding: 14px 40px;
  margin: 0 auto;
  color: #fff;
  font-size: .875rem;
  font-weight: 300;
}

/* hover */
@media only screen and (min-width: 1366px) {
  .btn:hover{
    color: var(--main-color);
  }
  header .navBar #logo:hover {
    color: var(--main-color);
  }
  
  header .navBar #logo:active{
    transform: rotateX(45deg);
  }
}