#detail{
    position: relative;
}
#detail .detailImg{
    height: 400px;
}
#detail .detailImg.book{
    background: url('/public/bookbg.png')no-repeat 0% 30% / cover;
}

#detail .detailBox{
    background: #fff;
    max-width: 600px;
    border: 1px solid #e7e7e7;
    transform: translateY(-50%);
    padding: 2rem;
    margin: 0 auto;
}

#detail .recipeBox h2{
    font-size: 2rem;
    margin-bottom: 4px;
}

#detail .recipeBox .subText + .subText{
    margin-top: 2rem;
}

#detail .recipeBox .subText .subTitle{
    color: var(--95-color);
    margin-bottom: 4px;
}

#detail .recipeBox .subText .ingredients span + span {
    margin-left: 10px;
}

#detail .recipeBox .subText .instructions{
    line-height: 150%;
}

#detail .bookBox .detailInnerBox{
    display: flex;
}
#detail .bookBox .leftBox .poster{
    width: 200px;
    height: 300px;
    background: #aaa;
}
#detail .bookBox .rightBox{
    margin-left: 40px;
}
#detail .bookBox .rightBox .title{
    font-size: 2rem;
}
#detail .bookBox .rightBox .subText{
    margin-top: 1rem;
}
#detail .bookBox .subTitle{
    color: var(--95-color);
    margin-bottom: 4px;
}
#detail .bookBox .descriptionBox{
    margin-top: 20px;
    word-wrap: break-word;
}
#detail .bookBox .descriptionBox .description{
    line-height: 130%;
}

/* MEDIA QUERIES mobile */
@media screen and (max-width: 769px) {
    #detail .bookBox .leftBox .poster {
      height: 300px;
    }
  
    #detail .detailBox {
      transform: translateY(-10%);
      padding: 20px;
      width: calc(100% - 40px);
      background: none;
      border: none;
    }
  
    #detail .bookBox .detailInnerBox {
      display: block;
    }
  
    #detail .bookBox .detailInnerBox .leftBox .poster {
      margin: 0 auto;
      border: 1px solid #ccc;
    }
  
    #detail .bookBox .detailInnerBox .rightBox {
      margin: 20px 0;
    }
  }